<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/product.css">
</head>
<body>
        <nav class="navbar">
<div class="nav">
    <img src="../static/img/salt-and-pepper.png" class="brand-logo" alt="">
    <div class="nav-items">
        <form action="/search" method="POST">
            <div class="search">
                <input type="text" name = "searchbox" class="search-box" placeholder="search roduct">
                <button class="submit-btn">search</button>
            </div>
        </form>
        <a href="#"><img src="../static/img/user.png" alt=""></a>
        <a href="#"><img src="../static/img/add-to-cart.png" alt=""></a>
    </div>
</div>
    <ul class="links-container">
        <li class="link-item"><a href="/" class="link">Home</a></li>
        <li class="link-item"><a href="/login" class="link">log in</a></li>
        <li class="link-item"><a href="/signup" class="link">Sign up</a></li>
        <li class="link-item"><a href="#" class="link">log out</a></li>
    </ul>
</nav>
    <section class="details">
        <img class="product-img" src={{product_img}}>
        <div id = "product-page">
            <h2 class="product-brand">{{product}}</h2>
            <p class="product-short-des">{{product_discription}}</p>
            <div id ="cost-info">
                <span class="product-price">{{product_price}}</span>
                <span class="product-actual-price">{{product_act_price}}</span>
                <span class="product-discount">{{product_discount}}</span>
            </div>
            <a href = /cart/{{product}}>
                <button class="btn cart-btn">add to cart</button>
            </a>
        </div>
    </section>
</body>
</html>